.div__button--1 {

  width: 7rem;
  height: 2rem;
  border: none;
}

.div__button--2 {
  width: 7rem;
  height: 2rem;
  border: none;
  margin-left: 1rem;
  background: $ball-blue;
  color: $white;

  &:hover {
  background: $middle-blue;
  }

  &:focus {
  background: $lavender-gray;
  }

}
