.card {
  width: 23rem;
  height: 31.5rem;
  background-color: $white;
  border: solid 1px $onyx;
  padding: 1rem;
  line-height: 1.5rem;
  margin: 2rem;
  
}

.ul {
  font-style: $open-sans;
  font-family: sans-serif;
  color: $raising-black;
  font-weight: $medium;
}
