
.main__container {
  position: relative;
  top: 3rem;
}

.div__contenido {
  margin-bottom: -18rem;
}
.main__titulo {
  position: relative;
  left: 4rem;
  font-style: $raleway;
  font-family: sans-serif;
  font-weight: $bold;

}

.main__texto {
  position: relative;
  left: 4rem;
  line-height: 2rem;
}
